<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kafe Kakapo</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../public/styles.css">
</head>

<body>
  <header class="container">
  <div class="row">
    <div class="image-title">
      <h1>Kafe Kakapo</h1>
      <img class="logo-image" src="../images/kakapo.jpg" alt="Ninjas Stole This Image">
    </div>
  </div>
  <div class="twelve columns">
    <div class="title">

      <h4>Kia Ora</h4>
    </div>
  </div>
</header>

<div class="container">
  <div class="fullMenu">

    <div class="menuItem" id=coffee>Coffee
    </div>
    <div class="menuItem" id=tea>Tea
    </div>
    <div class="menuItem" id=hotChoc>Hot Choc
    </div>

    <div class="menuItem" id=muffin>Muffin
    </div>
    <div class="menuItem" id=sandwich>Sandwich
    </div>
    <div class="menuItem" id=soup>Soup
    </div>

    <form="info"> Additional Info:<br>
      <input type="text" name="info">
    </form>

    <div>
      <form="subtotal">Subtotal
      </form>
      <form="submit">Submit
    </form>
    </div>

  </div>
</div>




</body>



</html>
